{# Workset/Create #}

{% extends "FirstBundle:Layouts:layout.html.twig" %}

{% block title %}
    
    View Workset  
    
{% endblock  %}

{% block content %}

    <div class="row">
        
        <div class="panel col-md-10 col-md-offset-1">
        
            <div class='panel-body'>
                <div class="col-md-12">
                    <h1>    
                        View Workset
                    </h1>
                </div>                
    
                <hr>

                <br>
  {#              <div class='row'>

                    <div class="col-md-3">
                        <h2 >{{ workset.name }}</h2>
                    </div>

                    <div class="col-md-5">
                        <p> {{ workset.description }} <p>
                    </div>
                </div>   #}             
            </div>            

      

        </div>

    </div>

{% endblock  %}

