
/* Classes générales */

.content{
    margin-top: 5%;
}

.list .glyphicon{
    color: #333;
}

.btn-custom{
    min-width: 80px;
    border-radius: 0px !important;
    background-color: #000;
    color: #FFF;
    
}

.btn-custom:hover{
    border-radius: 0px !important;
    background-color: white;
    color: #222;
    border:1px solid #222;
}

/* Classes dédiées Gestion Métier */

.color-square{
    max-width: 18px;
    max-height: 18px;
    min-width: 18px;
    min-height: 18px;
    border: 1px solid black;
}

#colorpicker{
    /*background-color: #333;*/
    /*border: 1px solid black;*/
    min-height: 190px;
    min-width: 190px;
}