
/* Classes générales */

.content{
    margin-top: 5%;
}

.list .glyphicon{
    color: #333;
}

.btn-custom{
    min-width: 80px;
    border-radius: 0px !important;
    background-color: #000;
    color: #FFF;
    
}

.btn-custom:hover{
    border-radius: 0px !important;
    background-color: white;
    color: #222;
    border:1px solid #222;
}

/* Classes dédiées Gestion Métier */

.color-square{
    max-width: 18px;
    max-height: 18px;
    min-width: 18px;
    min-height: 18px;
    border: 1px solid black;
}

#colorpicker{
    /*background-color: #333;*/
    /*border: 1px solid black;*/
    min-height: 190px;
    min-width: 190px;
}

/* PARTIE DEDIEE A LA VUE DE TRAVAIL */

.push-top{
    margin-top: 15px;
}

.field_td{
    border-radius: 4px;
}


.pointer{
    cursor: pointer;
}

.globe{
    color: #111;
}

.item_body{
    margin-left: 2%;
    overflow-x: no-display;
    font-size: 90%;
}


.mikbook_ok{
    color:#0a0;
}

.check_item{

    height: 20px;

}

/* PARTIE DEDIEE AU KANBAN */

.col-header{
    text-align: center;
    font-weight: bold;
    font-size: medium;
    background-color: #77d5f7;
    padding-top: 10px;
    padding-bottom:  10px;
/*    background-color: #84c4e2;*/
}

.square{
    
    cursor : pointer !important;
    
    font-size:smaller;
    
    min-width: 80px;
    min-height: 80px;
    background-color: #FFF;
    
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    
}

.kb{
    border-right: 1px solid black;
}

.column{
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
    background-color: #DBECFD;
}

/** PARTIE DEDIEE AUX STATS */

/*!*SUR TABLETTE *!*/
/*@media screen and (max-width: 800px) {*/
    /*.chartdiv{*/
        /*!*border:1px solid black;*!*/
        /*min-height:200px;*/
    /*}*/

/*}*/
/*!* SUR PC *!*/
/*@media screen and (min-width: 800px) {*/
    /*.chartdiv{*/
        /*!*border:1px solid black;*!*/
        /*min-height:500px;*/
    /*}*/

/*}*/

.chartdiv{
    border:1px solid #333;
    min-height:350px;
}

.graph-container{
    padding: 15px;
    margin-left:10px;
    margin-right:10px;
}

